html {
	background-color: #f2f4f8;
	overflow-x: hidden;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
body {
	font-size: 14px;
	color: #788188;
	-webkit-font-smoothing: antialiased;
	line-height: 1.40;
}
* {
	
	font-family: 'TitilliumRegular',sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.yukleniyor {
    background: #374C59;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    z-index: 99999;
}
.yukleniyor p {
	position: relative;
	font-family: sans-serif;
	font-size: 60px;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(90deg, #2196f3, #dcf836, #2196f3);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: TextEffect 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.yukleniyor span {
	display: inline-block;
	width: 85px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
.yukleniyor span::before,
.yukleniyor span::after {
	font-family: "fontello";
	content: "\e801";
	position: absolute;
	font-size: 50px;
	font-weight: 100;
	color: #e15b64;
	left: 0;
	bottom: 0;
}
.yukleniyor span::before {
	animation: bounce 1.5s ease infinite;
}
.yukleniyor span::after {
	content: "\e809";
	color: #f8b26a;
	margin-left: 50px;
	left: -15px;
	animation: bounce 2s ease infinite;
}
.yukleniyor span:last-child {
	width: 90px;
	left: -35px;
}
.yukleniyor span:last-child::before {
	content: "\e809";
	color: #abbd81;
	animation: bounce 1.4s ease infinite;
}
.yukleniyor span:last-child::after {
	content: "\e801";
	color: #f8b26a;
	left: 5px;
	animation: bounce 1.6s ease infinite;
}
@keyframes TextEffect {
	0% { background-position: -200%; }
	100% { background-position: 400%; }
}
@keyframes bounce {
	0%   { transform: translateY(100px); }
	55%  { transform: translateY(-100px); }
	100% { transform: translateY(100px); }
}
.progress {
	display: none;
	position: absolute;
	top: 60px;
	width: 100%;
	height: 3px;
	background: #ff9595;
	box-shadow: 0px 0px 6px 0px rgba(255,0,0,1);
}
.progress::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 100%;
	background-color: red;
	animation: prog 2s ease-in-out infinite;
}
@keyframes prog {
	0%   { left: 0; }
	40%  { width: 400px; }
	80%  { width: 200px; }
	100% { left: 100%; }
}


.body_ic {
	display: table;
	width: 100%;
	height: 100%;
}
.body_ic > div  {
	display: table-row;
	vertical-align: top;
}
.max_gen {
	display: flex;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.ust_bar {
	background-color: #4cb6cb;
	height: 60px;
}
.ust_bar_ic {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.ust_bar_ic > div {
	display: table-cell;
	vertical-align: middle;
}
.ust_bar .sol {
	width: 210px;
}
.ust_bar .sol img {
	display: inline-block;
	vertical-align: middle;
}
.ust_bar .form_ara {
	position: relative;
}
.ust_bar .sag {
	width: 100px;
	text-align: right;
}
.ust_bar .menu_ic {
	display: none;
	position: absolute;
	background-color: #4cb6cb;
	top: 100%;
	right: 0;
	margin-top: 10px;
	border-radius: 3px;
	padding: 7px;
}
.ust_bar .menu_ic::after {
	content: "";
	position: absolute;
	top: -20px;
	right: 7px;
	border: 10px solid transparent;
	border-bottom-color: #8ce2f3;
}
.ust_bar .menu_ic.active {
	display: block;
}
.ust_bar .menu_ic a {
	display: block;
	width: 190px;
	color: #fff;
	background-color: #48c6df;
	border-bottom: 1px solid #258ecd;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}
.ust_bar .menu_ic a:last-child {
	border: 0;
}


.orta_kisim {
	background-image: url("../images/arkaplan.png");
	background-repeat: round;
}
.orta_kisim .max_gen {
	width: 100%;
	overflow: auto;
	flex-direction: column;
}
.orta_kisim .orta_ic {
	display: block;
	width: 100%;
}
.ayar {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}
.sure {
	display: inline-block;
	width: 50px;
	background-color: #4cb6cb;
	border-radius: 3px;
	box-shadow: 0 0px 5px #6e6e6e inset;
	padding: 2px 5px;
	text-align: center;
	color: #fff;
}
.orta_kisim .yaz {
	width: 900px;
	margin: auto;
	margin-top: 20px;
	padding: 8px 15px;
	height: 106px;
	overflow: hidden;
	color: #1d4851;
	font-size: 0;
	line-height: 30px;
	background: #ffffff;
	border: 1px solid #8eb6d8;
	border-radius: 4px;
	user-select: none;
	position: relative;
}
.orta_kisim .yaz span {
	display: inline-block;
	height: 30px;
	margin: 5px 0;
	font-size: 26px;
	padding: 0 7px;
	border-radius: 3px;
}
.orta_kisim .yaz .light {
	background-color: #4cb6cb;
}
.orta_kisim .yaz .light.red {
	color: inherit;
	background-color: tomato;
}
.orta_kisim .yaz .red {
	color: tomato;
}
.orta_kisim .yaz .err {
	color: tomato;
}
.orta_kisim .form_ara {
	display: block;
	margin: 0 auto;
	margin-top: 80px;
	width: 600px;
	height: max-content;
	position: relative;
}
.orta_kisim .form_ara input[type="text"] {
	width: 100%;
	font-size: 17px;
	padding: 14px 84px 14px 20px;
	line-height: 1.33;
	border-radius: 7px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}
.orta_kisim .form_ara button[type="submit"] {
	position: absolute;
	z-index: 1;
	right: 0;
	height: 100%;
	cursor: pointer;
	font-size: 25px;
	padding: 5px 12px;
	color: #fff!important;
	background-color: #4CB6CB;
	border-radius: 0 7px 7px 0;
	border: 1px solid rgba(90,106,122,0.57);
}
.orta_kisim .form_ara button[type="submit"]:hover {
    background-color: #797DFF;
}
.sonuclar {
	display: table;
	margin: 20px auto;
	width: 700px;
	border-radius: 3px;
	background-color: #fff;
	overflow: hidden;
}
.sonuclar div.ust {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 7px 15px;
	text-shadow: 1px 1px 1px #333333;
	background: #5e91b3;
	background: -moz-linear-gradient(top, #5e91b3 0%, #407191 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e91b3), color-stop(100%, #407191));
	background: -webkit-linear-gradient(top, #5e91b3 0%, #407191 100%);
	background: -o-linear-gradient(top, #5e91b3 0%, #407191 100%);
	background: -ms-linear-gradient(top, #5e91b3 0%, #407191 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e91b3', endColorstr='#407191', GradientType=0);
	background: linear-gradient(top, #5e91b3 0%, #407191 100%);
}
.sonuclar .sol {
	display: inline-block;
	width: 420px;
	height: 265px;
	vertical-align: top;
	padding: 10px;
}
.sonuclar .sol img {
	width: 100%;
	height: 100%;
}
.sonuclar .sag {
	display: inline-block;
	width: 280px;
	vertical-align: top;
}
.sonuclar .sag div {
	color: #333;
	font-size: 16px;
	padding: 8px 15px;
	border-bottom: 1px solid #ddd;
}
.sonuclar .sag div:nth-child(2n+1) {
	background-color: #f9f9f9;
}
.sonuclar .sag div:last-child {
	border-bottom: 0;
}
.sonuclar .sag div span {
	float: right;
}
.sonuclar .sag div.dks {
 	text-align: center;
}
.sonuclar .sag div.dks strong {
	font-size: 50px;
	color: #527a1e;
}
.sonuclar .sag div.vrs span {
	font-size: 14px;
}
.sonuclar .sag div.vrs b {
	display: inline-block;
	font-weight: normal;
	color: green;
	font-size: 12px;
	transform: translateY(-1px);
}
.sonuclar .sag div.vrs i {
	display: inline-block;
	font-style: normal;
	color: red;
	font-size: 12px;
	transform: translateY(-1px);
}
.sonuclar .sag div.vrs u {
	text-decoration-line: none;
	font-size: 16px;
	margin-left: 8px;
}


.alt_kisim {
	background-color: #5a6a7a;
	height: 30px;
}