html {
	overflow: hidden;
}
html, body {
	font-size: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	color: #788188;
	-webkit-font-smoothing: antialiased;
	line-height: 1.40;
	background-color: #f6f6f7;
	background-image: url(../images/1.png), url(../images/2.png);
	background-position: 2% 90px, 98% 90px;
	background-repeat: repeat-y;
	overflow: auto;
}
* {
	
	font-family: 'TitilliumRegular',sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.max_gen {
	width: 1000px;
	margin: 0 auto;
}

.ust_alan {
	width: 100%;
	height: 75px;
	flex-grow: 0;
	background-color: #fff;
	box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
}
.ust_bar {
	color: #ababb0;
	height: 45px;
	box-shadow: 2px 1px #eee;
	user-select: none;
}
.ust_bar:hover {
	color: #0f0f10;
}
.ust_bar .max_gen {
	height: 100%;
}
.ust_ic {
	display: table;
	height: 75px;
	position: relative;
}
.ust_ic > div {
	display: table-cell;
	vertical-align: middle;
}
.ust_alan .sol {
	width: 210px;
}
.ust_alan .sol img {
	display: inline-block;
	vertical-align: middle;
}
.ust_alan .form_ara {
	position: relative;
}
.ust_alan .sag {
	width: 100px;
	text-align: right;
}
/* Gece Buton */
.ust_alan .odak {
	display: inline-block;
	position: relative;
	color: #004f87;
	font-size: 24px;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.ust_alan .odak:before {
	opacity: 1;
	transition: all 1s ease-out;
	transform: translateY(0%) rotateZ(0deg);
}
.ust_alan .odak.gece:before {
	opacity: 0;
	transform: translateY(20%) rotateZ(50deg);
}
.ust_alan .odak:after {
	position: absolute;
	content: '\f186';
	top: 1px;
	left: 7px;
	font-family: "fontello";
	opacity: 0;
	transition: all 1s ease-out;
	transform: translateY(20%) rotateZ(50deg);
}
.ust_alan .odak.gece:after {
	opacity: 1;
	transform: translateY(0%) rotateZ(0deg);
}
/* Gece Buton End */

/* Menu Buton */
.ust_alan .menu {
	width: 30px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.ust_alan .menu .bar {
	width: 30px;
	height: 6px;
	border: 2px solid #004f87;
	border-radius: 3px;
	position: relative;
	transition: all .5s cubic-bezier(.23,.5,.32,.5);
}
.ust_alan .menu .bar:nth-child(2) {
	margin-top: 2px;
}
.ust_alan .menu .bar:nth-child(3) {
	margin-top: 2px;
}
.ust_alan .menu.active .bar:nth-child(1) {
	transform: translate3d(0, 8px, 0) rotate(405deg);
}
.ust_alan .menu.active .bar:nth-child(2) {
	transform: scale(0.2);
	opacity: 0;
}
.ust_alan .menu.active .bar:nth-child(3) {
	transform: translate3d(0, -8px, 0) rotate(-405deg);
}
.ust_alan .menu_ic {
	display: none;
	position: absolute;
	background-color: #fff;
	top: 100%;
	right: 0;
	margin-top: 10px;
	border-radius: 3px;
	z-index: 3;
	box-shadow: 0 0 2px 0 #d4d4d7, 0 1px 4px 0 #d4d4d7;
}
.ust_alan .menu_ic::after {
	content: "";
	position: absolute;
	top: -20px;
	right: 7px;
	border: 10px solid transparent;
	border-bottom-color: #fff;
}
.ust_alan .menu_ic.active {
	display: block;
}
.ust_alan .menu_ic a {
	display: block;
	width: 190px;
	color: #0f0f10;
	box-shadow: 0 1px #eee;
	padding: 12px 20px;
	text-decoration: none;
	text-align: center;
	transition: 90ms ease all;
}
.ust_alan .menu_ic a:last-child {
	box-shadow: none;
}
.ust_alan .menu_ic a:hover {
	font-weight: 600;
	background-color: #f6f6f7;
}
/* Menu Buton Bitis */

/* Orta Alan Start */

.orta_alan {
	display: block;
	width: 950px;
	flex-grow: 1;
	margin: 30px 0;
	text-align: center;
	font-size: 0;
}
#Blog, #Blog1 {
	display: inline-grid;
	width: 600px;
	margin: 0;
	vertical-align: top;
	text-align: left;
}

.sayfa_url {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
}
.sayfa_url a {
	margin: 5px;
	text-align: center;
	flex: 240px;
	height: 100px;
	color: #0f0f10;
	font-weight: bold;
	line-height: 130px;
	position: relative;
	text-decoration: none;
	transition: all 0.5s;
}
.sayfa_url a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #fff;
	transition: all 0.3s;
}
.sayfa_url a:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.sayfa_url a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	transform: scale(1.2,1.2);
}
.sayfa_url a:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
.sayfa_url i {
	position: absolute;
	left: 100px;
	top: 15px;
	font-size: 30px;
	line-height: normal;
}
.sayfa_url a.disabled{
	color: #ababb0;
}

.orta_alan .orta_sol{
	background: #fff;
	border-radius: 2px;
	padding: 10px;
	font-size: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.orta_alan .orta_sag {
	display: inline-grid;
	width: 340px;
	margin-left: 10px;
	text-align: left;
}
.orta_alan .icerik_list {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.orta_alan .icerik_list:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;

}
.orta_alan .resim {
	float: left;
	width: 220px;
	height: 170px;
}
.orta_alan .resim img {
	width: 100%;
	height: 100%;
}
.orta_alan .icerik {
	float: right;
	width: 335px;
	height: 170px;
}
.orta_alan .ust {
	float: right;
	width: 100%;
	font-size: 15px;
}
.orta_alan .ust h2 {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 7px 0;
	font-size: 16px;
	height: 45px;
}
.orta_alan .ust a {
	text-decoration: none;
	color: initial;
}
.orta_alan .ust p {
	height: 65px;
	margin: 0;
}
.orta_alan .alt {
	margin-top: 5px;
}
.orta_alan .alt a {
	display: inline-block;
	background-color: #2196f3;
	font-size: 14px;
	color: #fff;
	padding: 7px 10px;
	border-radius: 2px;
}
.orta_sag .ic {
	display: inline-block;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 40px;
	border: 1px solid rgba(160,160,160,.2);
	overflow: hidden;
}
.orta_sag .kategoriler {
	color: indigo;
	background-color: #fff;
}
.orta_sag .kategoriler h2 {
	color: initial;
	padding: 18px 19px;
	font-size: 16px;
}
.orta_sag .Label {
	margin: 0;
}
.orta_sag .kategoriler a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	color: #888;
	border-top: 1px dashed rgba(160,160,160,.2);
}
.orta_sag .kategoriler a:hover {
    color: #0a6ebd !important;
}
.orta_sag .kategoriler i {
	margin-right: 5px;
}
.ilk_resim {
	display: none;
}
/* Orta Alan End */

/* Alt Alan Start */
.alt_alan {
	background: #262626;
	width: 100%;
	min-height: 250px;
	flex-grow: 0;
	margin-bottom: -250px;
}
/* Alt Alan End */

/* Reklam Start */
.Reklam {
	position: relative;
	margin: 0 auto;
}
.Reklam::after {
	content: "Ads";
	color: #d3d3d3;
	font-size: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -17px 0 0 -17px;
}
.Reklam.x300{
	width: 336px;
	height: 280px;
}
/* Reklam End */


/* Body Gece Start */
body.gece {
	background-color: #2d2d2d;
}
body.gece .ust_bar {
	box-shadow: 2px 1px #424242;
}
body.gece .ust_alan {
	background-color: #212121;
}
body.gece .ust_alan .menu_ic {
	background-color: #1f1f1f;
	box-shadow: 0 0 2px 0 #424242, 0 -2px 4px 0 #424242;
}
body.gece .ust_alan .menu_ic::after {
	border-bottom-color: #1f1f1f;
}
body.gece .ust_alan .menu_ic a {
	color: #888;
	box-shadow: 0 1px #424242;
}
body.gece .ust_alan .menu_ic a:hover {
	background-color: #312f2f;
}
body.gece .orta_alan .orta_sol {
	background: #212121;
}
body.gece .orta_alan .ust a {
	color: #c0c0c0;
}
body.gece .ayar:hover {
	color: #939aa0;
}
body.gece .ayar:hover .check-box::before {
	border-color: #939aa0;
}
body.gece .ayar .checked::after {
	box-shadow: 0 0 0 2px #2d2d2d;
}
body.gece .orta_alan .yaz {
	color: #fff;
	background: linear-gradient( 90deg, transparent 0%, #161616 20%, #161616 80%, transparent 100%);
}
body.gece .orta_alan .yaz:before {
	background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(22 22 22));
}
body.gece .orta_alan .yaz:after {
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(22 22 22));
}
body.gece .sayfa_url a {
	color: #888;
}
body.gece .sayfa_url a.disabled {
	color: #4d4c4c;
}
body.gece .sayfa_url a::before {
	background-color: #212121;
}
body.gece .sayfa_url a::after {
	background-color: #242424;
	border-color: #474747;
}
body.gece #text {
	color: #fff;
}
body.gece .canli_sonuc div > div {
	color: #888;
	background-color: #212121;
}
/* Body Gece End */


/* Notification Message Start */
.notif-cont {
	display: none;
	position: fixed;
	width: 250px;
	max-height: 75%;
	left: 30px;
	bottom: 60px;
	z-index: 2;
	overflow: hidden;
}
.notif {
	width: 250px;
	padding: 10px;
	margin: 10px 0;
	color: #FFF;
	border-radius: 4px;
	padding-left: 45px;
	position: relative;
	opacity: 0;
	overflow: hidden;
	animation: notif 2400ms ease-in-out;
}
.notif::after {
	font-family: "fontello";
	content: "";
	position: absolute;
	background-color: rgb(0 0 0 / 17%);
	font-size: 23px;
	font-weight: 100;
	color: #efefef;
	top: 0;
	left: 0;
	bottom: 0;
	width: 36px;
	line-height: 40px;
	text-align: center;
}
@keyframes notif {
	0% { opacity: 0; }
	30% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}
.notif.warning {
	background: #FFC107;
}
.notif.warning::after {
	content: "\e810";
}
.notif.success {
	background: #2ECC71;
}
.notif.success::after {
	content: "\e80f";
}
.notif.error {
	background: #C0392B;
}
.notif.error::after {
	content: "\e811";
}
/* Notification Message Stop */

@media only screen and (max-width: 1280px)  {
	body {
		background-size: 125px;
	}
}