/* Keyboard Start */
.keyboard {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	gap: 5px;
}
.keyboard .row {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.keyboard .key {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	color: var(--text-color);
	font-size: 15px;
	border-radius: .5rem;
	background-color: var(--widget-bg);
}
.keyboard .key.active {
	animation: k_focus 200ms;
}
.keyboard .key.err {
	animation: k_focus_err 200ms;
}
.keyboard div[data-key="32"] {
    width: 200px;
}
/* Keyboard End */