* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	line-height: 1.2;
	padding: 0;
	margin: 0;
	outline: 0;
}

:root {
	--body-bg-color: #16161a;
	--text-color: #A2A3A5;
	--title-color: #d1d0c5;
	--snipped-color: #a5a5a5;
	--main-color: #e2b714;
	--widget-bg: #202024;
	--txt-blur: 22, 22, 26;
	--max-width: 1200px;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: var(--text-color);
}

body {
	background-color: var(--body-bg-color);
	font-family: "Vazirmatn", sans-serif;
	font-family: "Lexend Deca", serif;
}

/**/
a, #url {
	color: var(--text-color);
	text-decoration: none;
	transition: color .125s;
	cursor: pointer;
}
a:hover, #url:hover {
    color: var(--title-color);
}
a:active, #url:active {
    color: var(--text-color);
}
/**/

nav.contain {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
nav.contain nav {
	flex-grow: 0;
}

/* Nav Top Start */
nav.top {

}
.top_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--max-width);
	height: 70px;
	margin: 0 auto;
}
.top_contain .left a {
	display: block;
	text-decoration: none;
}
.top_contain .left i {
	font-size: 36px;
	color: var(--main-color);
}
.top_contain .left h1 {
	display: inline-block;
	font-family: "Lexend Deca", sans-serif;
	color: var(--title-color);
	font-size: 20px;
	vertical-align: middle;
}
.top_contain .right > i {
	font-size: 22px;
	margin: 0 0 0 15px;
}
.top_contain .day-night {
	display: inline-flex;
	background-color: var(--widget-bg);
	justify-content: space-between;
	align-items: center;
	width: 36px;
	height: 20px;
	padding: 0 5px;
	border-radius: 10px;
	vertical-align: middle;
}
.day-night::before,
.day-night::after {
	content: '\e800';
	font-family: "fontello";
	font-size: 8px;
	transition:all ease 0.4s;
}
.day-night::after {
	content: '\f186';
}
.day-night.mode::after {
	font-size: 13px;
	cursor: pointer;
	color: var(--snipped-color);
}
.day-night:not(.mode)::before {
	color: var(--snipped-color);
	font-size: 12px;
	cursor: pointer;
	transform: translateX(15px) rotate(1turn);
}
.day-night:not(.mode)::after {
	transform: translateX(-18px) rotate(1turn);
}
/* Nav Top End */

nav.middle {
	flex-grow: 1 !important;
}
/* Nav Settings Start */
nav.settings {
	text-align: center;
}
.set_contain {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 500px;
	height: 30px;
	background-color: rgb(0 0 0 / 10%);
	font-size: 13px;
	margin: 0 auto;
	border-radius: 10px;
}
.set_contain > div {
	display: inline-flex;
}
.set_contain button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 7px 10px;
	border: none;
	background: none;
}
.set_contain button#url.active {
	color: #e2b714;
}
.set_contain button i {
	pointer-events:none;
}
.set_contain button i.icon-letter {
	margin-top: -2px;
}

.set_contain .right {
	position: relative;
	display: inline-flex;
	overflow: hidden;
}
.set_contain .right::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 1px;
	height: 14px;
	border-left: 1px solid #646669;
}
.set_contain .right .x1 {
	padding-left: 10px;
	flex-wrap: wrap;
	width: 170px;
	transition-duration: 250ms;
	transform: translateY(0);
}
.set_contain .right > div {
	display: inline-flex;
}
.set_contain .right button {
	width: 40px;
	padding: 7px 0;
}
.set_contain .right .x1 button {
    font-family: "Roboto Mono", serif;
}
.set_contain .right.time .x1 {
	transform: translateY(-100%);
}
.set_contain .right i.icon-wrench {
	margin: 0;
	font-size: 12px;
}

nav.settings .keyb_lang {
	display: inline-block;
	margin-top: 15px;
	font-size: 13px;
	cursor: pointer;
	transition: color .125s;
}
nav.settings .keyb_lang span {
    display: inline-block;
}
nav.settings .keyb_lang span:before {
    content: '\e803';
    font-family: "fontello";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
/* Nav Settings End */

/* Results Start */
.results {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.results > div {
	position: relative;
	text-align: center;
}
.results > div span {
	display: block;
}
.results > div span:first-child {
	background-color: var(--widget-bg);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	font-size: 24px;
}
.results .time span:first-child {
	font-size: 18px;
	border-radius: 50%;
}
.results > div span:last-child {
	font-size: 13px;
	margin-top: 5px;
}
.results span.dks {
	color: #527a1e;
}
.results .time svg {
    position: absolute;
    top: 0;
    left: 0;
}
.results .time circle {
	transform: rotateY(-180deg) rotateZ(-90deg);
	transform-origin: center center;
	transition: stroke-dashoffset 1s linear;
	stroke: var(--text-color);
}
.results > div span.icon {
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	color: #7e2a33;
	font-size: 15px;
}
.results > div span.icon::after {
	content: '\e807';
	font-family: "fontello";
	font-size: 13px;
	margin-left: 5px;
}
/* Results End */

/* Bottom Start */
nav.bottom {

}
.bottom_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--max-width);
	height: 40px;
	margin: 0 auto;
	font-size: .95rem;
}
.bottom_contain .left {
	display: inline-flex;
	gap: 0 15px;
}
.bottom_contain .left i {
	margin-bottom: 1px;
}
.bottom_contain .right {
    display: inline-flex;
    gap: 0 15px;
}
.bottom_contain .right i.icon-mail {
	margin-bottom: -2px;
}
/* Bottom End */


/* Notification Start */
.notice {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 50px;
	z-index: 10;
}
.notice .msg {
    display: flex;
    align-items: center;
    max-width: 260px;
    padding: 10px 15px 10px 10px;
    text-shadow: 2px 1px #00040a;
    animation: fadeinout 4s linear forwards;
}
.notice .msg::before {
	font-family: "fontello";
	font-size: 18px;
	margin-right: 10px;
	margin-bottom: -2px;
}
.notice .msg.ok {
	color: #0ad406;
	border: 1px solid rgba(36, 241, 6, 0.46);
	background-color: rgb(7 149 66 / 6%);
	box-shadow: 0px 0px 2px #259c08;
} 
.notice .msg.ok::before {
	content: '\e80b';
}
.notice .msg.war {
	color: #ffb103;
	border: 1px solid rgba(241, 142, 6, 0.81);
	background-color: rgba(220, 128, 1, 0.16);
	box-shadow: 0px 0px 2px #ffb103;
} 
.notice .msg.war::before {
	content: '\e80d';
}
.notice .msg.err {
	color: #ff0303;
	border: 1px solid rgba(241, 6, 6, 0.81);
	background-color: rgb(220 17 1 / 9%);
	box-shadow: 0px 0px 2px #ff0303;
} 
.notice .msg.err::before {
	content: '\e80c';
}
/* Notification End */

/* Html Popup Start */
.bg_popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgb(0 0 0 / 60%);
}
.bg_popup.active {
	display: block;
	animation: fade-in .250s;
}
.bg_popup.none {
	animation: fade-out .250s forwards;
}
.bg_popup .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	padding: 15px;
	border-radius: 7px;
	margin: 80px auto 0;
	background-color: #323437;
}
.bg_popup .content h1 {
	width: 100%;
	font-size: 18px;
	padding-bottom: 7px;
	text-indent: 10px;
	border-bottom: 1px solid #555;
	font-family: "Roboto Mono", monospace;
}
.bg_popup .middle {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 14px 0;
}
.bg_popup .middle > div {
	position: relative;
	padding: 5px 10px;
	text-indent: 10px;
}
.bg_popup .middle > div:hover {
	cursor: pointer;
	color: #bbb;
	background-color: #35383b;
}
.bg_popup .middle > div.active::after {
	position: absolute;
	content: '\e809';
	font-family: "fontello";
	top: 7px;
	right: 10px;
}
/* Html Popup End */

/* Blog Start  */
div#main {
	font-family: "Vazirmatn", sans-serif;
	max-width: 1020px;
	width: var(--max-width);
    margin: 0 auto;
    flex-grow: 1;
}
div#main h1.title {
    margin: 25px 0;
    color: var(--title-color);
}
div#main div > h2 {
	color: var(--main-color);
}
div#main div.title {
	background-color: var(--widget-bg);
	border: 2px solid #333;
	font-size: 18px;
	margin: 30px 0;
	padding: 15px;
	text-align: center;
}
div#main div > p {
    font-size: 15px;
    margin: 1em 0.5em;
    color: var(--snipped-color);
}
div.article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--widget-bg);
	width: 320px;
	padding: 20px;
}
article a {
	display: block;
	color: inherit;
}
article img {
	display: block;
	width: 100%;
	height: 180px;
}
article h2 {
	color: var(--title-color);
	padding: 10px 0;
}
article .url {
	font-weight: bold;
	margin-top: 15px;
	text-align: right;
}
article > p {
    margin: 0;
    color: var(--snipped-color);
}
/* Blog Start End */

/* Comment End */
h1.title_cont {
	margin: 50px 0 30px 0;
	text-align: center;
	font-size: 28px;
	color: var(--snipped-color);
}
.desc {
	display: flex;
	max-width: 790px;
	align-items: center;
	margin: 0 auto;
}
.desc .x1 {
	font-size: 60px;
	padding-right: 20px;
	text-align: right;
}
.desc .x2 {
	font-size: 15px;
	padding-left: 20px;
}
#comments {
	background-color: var(--widget-bg);
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 0;
	margin-top: 50px;
	color: var(--snipped-color);
}
#comments h3 {
	margin: 0;
	color: #d1d0c5;
}
#comments .msg {
	font-size: 14px;
	color: #646669;
	font-style: italic;
	padding: 10px;
	margin-top: 10px;
	border-top: 2px solid rgba(255, 255, 255, 0.05);
	border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}
#comments .CmntForm {
	margin-bottom: 20px;
	font-size: 0;
}
#comments .head {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 12px;
}
#comments .img i {
	margin: 0;
	margin-top: -5px;
	font-size: 32px;
}
#comments .user {
	flex-grow: 1;
}
#comments span {
	display: block;
}
#comments span.x1 {
	    color: var(--title-color);
	font-size: 16px;
	font-weight: bold;
}
#comments span.x2 {
	font-size: 12px;
	margin-top: 3px;
	font-style: italic;
}
#comments .replay .x1,
#comments .replay .x2 {
	display: none;
	color: var(--title-color);
}
#comments.del .replay .x1 {
	display: inline-block;
}
#comments .replay .x3 {
	margin-left: 7px;
}
#comments .comment-sort {
	display: flex;
	flex-direction: column-reverse;
}
#comments .comment {
	padding: 25px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#comments .cmnt {
	margin-top: 15px;
}
#comments #comment-editor {
	width: 100%;
	margin: 20px 0;
	border: 0;
	overflow: hidden;
}
#comments #comment-editor {
	margin-bottom: 0;
}
#comments .replies {
	position: relative;
	background-color: var(--body-bg-color);
	margin: 12px 30px 0 30px;
	padding: 12px;
}
#comments .replies::before {
	content: "";
	position: absolute;
	top: -19px;
	left: 20px;
	border: 10px solid transparent;
	border-bottom-color: var(--body-bg-color);
}
/* Comment End */

/* Cookie Msg Start */
#cookieChoiceInfo {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0px;
	padding: 0;
	background-color: unset;
	z-index: 4000;
}
#cookieChoiceInfo .cookie-choices-inner {
	position: fixed;
	background-color: rgba(50, 50, 58, 1);
	width: 100%;
	top: auto;
	bottom: 0;
	padding: 10px 0;
	font-family: roboto, Arial;
	text-align: center;
}
#cookieChoiceInfo span a {
	background-color: #005375;
	padding: 8px;
	border-radius: 2px;
	font-weight: normal;
}
#cookieChoiceInfo span a:first-child {
	background-color: #58585b;
}
#cookieChoiceInfo span a:hover {
	background-color: #004D6B;
}
/* Cookie Msg End */