nav.contain {
	display: table;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
nav.contain nav {
	display: table-row;
	vertical-align: top;
}

/* Nav Top Start */
nav.top {
	/* background-color: #000000; */
}
.top_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.top_contain .left i {
	font-size: 36px;
	color: #e2b714;
}
.top_contain .left h1 {
	display: inline-block;
	font-family: "Lexend Deca", sans-serif;
	color: #d1d0c5;
	font-size: 22px;
	vertical-align: middle;
}
.top_contain .right i {
	font-size: 22px;
	color: #646669;
	margin-left: 15px;
	transition: color .125s;
	cursor: pointer;
}
.top_contain .right i:hover {
	color: #d1d0c5;
}
.top_contain .right i:active {
	color: #646669;
}
/* Nav Top End */

/* Nav Settings Start */
nav.settings {

}
.set_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	background-color: rgb(0 0 0 / 5%);
	font-size: 13px;
	margin: 0 auto;
	border-radius: 10px;
}
.set_contain .left {
	display: flex;
	flex-direction: row;
}
.set_contain .right {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Roboto Mono", monospace;
}
.set_contain span {
	padding: 4px 12px;
	cursor: pointer;
	transition: color .125s;
}
.set_contain span:hover {
	color: #d1d0c5;
}
.set_contain span:active {
	color: inherit;
}
.set_contain span.active {
	color: #e2b714;
}
.set_contain .right::before {
	content: '\e807';
	font-family: "fontello";
}
.set_contain .right::after {
	content: '';
	position: absolute;
	left: -12px;
	width: 1px;
	height: 14px;
	border-left: 1px solid #646669;
}
nav.settings .keyb_lang {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	margin-top: 25px;
}
nav.settings .keyb_lang i {
	font-size: 18px;
}
/* Nav Settings End */



nav.middle {
	
}
nav.bottom {
	height: 60px;
}