* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	line-height: 1.2;
	padding: 0;
	margin: 0;
	outline: 0;
}

:root {
	--body-bg-color: #16161a;
	--text-color: #646669;
	--title-color: #d1d0c5;
	--widget-bg: #202024;
	--txt-blur: 22, 22, 26;
	--max-width: 1200px;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: var(--text-color);
}

body {
	background-color: var(--body-bg-color);
	font-family: "Vazirmatn", sans-serif;
	font-family: "Lexend Deca", serif;
}

/**/
a, #url {
	color: var(--text-color);
	text-decoration: none;
	transition: color .125s;
	cursor: pointer;
}
a:hover, #url:hover {
    color: var(--title-color);
}
a:active, #url:active {
    color: var(--text-color);
}
/**/

nav.contain {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
nav.contain nav {
	flex-grow: 0;
}

/* Nav Top Start */
nav.top {

}
.top_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--max-width);
	height: 70px;
	margin: 0 auto;
}
.top_contain .left a {
	display: block;
	text-decoration: none;
}
.top_contain .left i {
	font-size: 36px;
	color: #e2b714;
}
.top_contain .left h1 {
	display: inline-block;
	font-family: "Lexend Deca", sans-serif;
	color: var(--title-color);
	font-size: 20px;
	vertical-align: middle;
}
.top_contain .right i {
	font-size: 22px;
	color: var(--text-color);
	margin-left: 15px;
	transition: color .125s;
	cursor: pointer;
}
.top_contain .right i:hover {
	color: var(--title-color);
}
.top_contain .right i:active {
	color: var(--text-color);
}
/* Nav Top End */

nav.middle {
	flex-grow: 1 !important;
}
/* Nav Settings Start */
nav.settings {
	text-align: center;
}
.set_contain {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 500px;
	height: 30px;
	background-color: rgb(0 0 0 / 10%);
	font-size: 13px;
	margin: 0 auto;
	border-radius: 10px;
}
.set_contain > div {
    align-content: center;
}
.set_contain button {
	display: inline-block;
	padding: 7px 10px;
	cursor: pointer;
	transition: color .125s;
	border: none;
	background: none;
	color: inherit;
}
.set_contain button.active {
	color: #e2b714;
}
.set_contain button i {
	pointer-events:none;
}
.set_contain button i.icon-letter {
	margin-top: -2px;
}

.set_contain .right {
	position: relative;
	display: inline-flex;
	overflow: hidden;
}
.set_contain .right::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 1px;
	height: 14px;
	border-left: 1px solid #646669;
}
.set_contain .right .x1 {
	padding-left: 10px;
	flex-wrap: wrap;
	width: 170px;
	transition-duration: 250ms;
	transform: translateY(0);
}
.set_contain .right > div {
	display: inline-flex;
}
.set_contain .right button {
	width: 40px;
	padding: 7px 0;
}
.set_contain .right .x1 button {
    font-family: "Roboto Mono", serif;
}
.set_contain .right.time .x1 {
	transform: translateY(-100%);
}
.set_contain .right i.icon-wrench {
	margin: 0;
	font-size: 12px;
}

nav.settings .keyb_lang {
	display: inline-block;
	margin-top: 15px;
	font-size: 13px;
	cursor: pointer;
	transition: color .125s;
}
nav.settings .keyb_lang:hover {
	color: #d1d0c5;
}
nav.settings .keyb_lang span {
    display: inline-block;
}
nav.settings .keyb_lang span:before {
    content: '\e803';
    font-family: "fontello";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
/* Nav Settings End */

/* Results Start */
.results {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.results > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.results > div span {
	display: block;
}
.results > div span:first-child {
	background-color: var(--widget-bg);
	width: 80px;
	height: 80px;
	align-content: center;
	text-align: center;
	border-radius: 20px;
	font-size: 24px;
}
.results .time span:first-child {
	font-size: 18px;
	border-radius: 50%;
}
.results > div span:last-child {
	font-size: 13px;
}
.results span.dks {
	color: #527a1e;
}
.results .time svg {
    position: absolute;
    top: 0;
    left: 0;
}
.results .time circle {
	transform: rotateY(-180deg) rotateZ(-90deg);
	transform-origin: center center;
	transition: stroke-dashoffset 1s linear;
	stroke: var(--text-color);
}
.results > div span.icon {
	position: absolute;
	top: 54px;
	font-weight: bold;
	color: #7e2a33;
	font-size: 15px;
}
.results > div span.icon::after {
	content: '\e807';
	font-family: "fontello";
	font-size: 13px;
	margin-left: 5px;
}
/* Results End */

/* Bottom Start */
nav.bottom {

}
.bottom_contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--max-width);
	height: 40px;
	margin: 0 auto;
	font-size: .95rem;
}
.bottom_contain .left {
	display: inline-flex;
	gap: 0 15px;
}
.bottom_contain .left i {
	margin-bottom: 1px;
}
.bottom_contain .right {
    display: inline-flex;
    gap: 0 15px;
}
.bottom_contain .right i.icon-mail {
	margin-bottom: -2px;
}
/* Bottom End */


/* Notification Start */
.notice {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 50px;
	z-index: 10;
}
.notice .msg {
    display: flex;
    align-items: center;
    max-width: 260px;
    padding: 10px 15px 10px 10px;
    text-shadow: 2px 1px #00040a;
    animation: fadeinout 4s linear forwards;
}
.notice .msg::before {
	font-family: "fontello";
	font-size: 18px;
	margin-right: 10px;
	margin-bottom: -2px;
}
.notice .msg.ok {
	color: #0ad406;
	border: 1px solid rgba(36, 241, 6, 0.46);
	background-color: rgb(7 149 66 / 6%);
	box-shadow: 0px 0px 2px #259c08;
} 
.notice .msg.ok::before {
	content: '\e80b';
}
.notice .msg.war {
	color: #ffb103;
	border: 1px solid rgba(241, 142, 6, 0.81);
	background-color: rgba(220, 128, 1, 0.16);
	box-shadow: 0px 0px 2px #ffb103;
} 
.notice .msg.war::before {
	content: '\e80d';
}
.notice .msg.err {
	color: #ff0303;
	border: 1px solid rgba(241, 6, 6, 0.81);
	background-color: rgb(220 17 1 / 9%);
	box-shadow: 0px 0px 2px #ff0303;
} 
.notice .msg.err::before {
	content: '\e80c';
}
/* Notification End */

/* Html Popup Start */
.bg_popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgb(0 0 0 / 60%);
}
.bg_popup.active {
	display: block;
	animation: fade-in .250s;
}
.bg_popup.none {
	animation: fade-out .250s forwards;
}
.bg_popup .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	padding: 15px;
	border-radius: 7px;
	margin: 80px auto 0;
	background-color: #323437;
}
.bg_popup .content h1 {
	width: 100%;
	font-size: 18px;
	padding-bottom: 7px;
	text-indent: 10px;
	border-bottom: 1px solid #555;
	font-family: "Roboto Mono", monospace;
}
.bg_popup .middle {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 14px 0;
}
.bg_popup .middle > div {
	position: relative;
	padding: 5px 10px;
	text-indent: 10px;
}
.bg_popup .middle > div:hover {
	cursor: pointer;
	color: #bbb;
	background-color: #35383b;
}
.bg_popup .middle > div.active::after {
	position: absolute;
	content: '\e809';
	font-family: "fontello";
	top: 7px;
	right: 10px;
}
/* Html Popup End */